{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },

  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "indent": [2, 2],
    "semi": [2, "always"],
    "max-len": [2, 80, 2],
    "quotes": [2, "single", "avoid-escape"],
    "eol-last": [0],
    "no-console": [0],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "space-before-function-paren": [2, "always"],
    "curly": [2, "multi-or-nest", "consistent"]
  }
}
