{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },

  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "max-len": [2, 80, 2],
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-console": [0],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}]
  }
}
